html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.title {
  margin: 32px 0px;
  padding: 0px 12px;
  font-size: 22px;
  font-weight: 200;
}

.container {
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.card {
  flex: 0 50%;
  padding: 0px 12px;
  margin: 16px 0px;
}

.card-image {
  width: 100%;
  object-fit: cover;
  height: 184px;
  border-radius: 16px;
}

.item-number {
  margin-left: 8px;
  height: 16px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.item-number:focus {
  outline: none !important;
  border: 1px solid #61D9D4;
}

.card-title {
  font-size: 14px;
  margin: 8px 0px 4px;
}

.card-price {
  font-size: 12px;
  font-weight: bold;
}

.app-container {
  width: 380px;
  background-color: #F7F7F7;
  height: 100vh;
  position: relative;
}

.btn-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  border: solid 1px #F7F7F7;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.bg-white {
  background: white;
}

.bg-gray {
  background-color: #2D2D2D;
}

.cart-btn {
  margin: 16px 16px;
  border-radius: 16px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  background-color: #F76844;
  padding: 12px 16px;
}

.cart-item {
  padding: 0px 12px;
  line-height: 32px;
  margin-top: 24px;
}

.cart-item-img {
  width: 30%;
  margin: 0px 24px 0 0;
  border-radius: 16px;
  height: 100px;
  object-fit: cover;
}

.cart-item-detail {
  width: 70%;
}

.checkout-btn {
  margin: 16px 16px;
  border-radius: 16px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  background-color: #61D9D4;
  padding: 12px 16px;
}
